* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    background-color: #DDD;
    color: #000;
    text-align: center;
}

header {
    height: 250px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #AAA;
}

.mobile-nav {
    float: right;
    padding-right: 10px;
}

.hero {
    margin-top: 75px;

}

.desktop-nav {
    margin-top: 70px;
}

main {
    margin-top: 250px;
    height: 200vh;
}

.section {
    height: 100vh;
    padding: 10px;
    padding-bottom: 50px;
}

.section-2 {
    background-color: #AAA;
    height: 100vh;
    width: 100%;
    margin-top: 20vh;
    padding-bottom: 40%;
}

footer {
    background-color: #777676;
    height: 50px;
    padding-top: 10px;
    margin-top: 50px;
